footer {
  align-items: center;
  background-color: rgb(226, 226, 226);
  bottom: 0px;
  display: flex;
  height: 60px;
  justify-content: space-around;
  left: 0;
  padding: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}
